<form>
  <select name="drp1" [(ngModel)]="d1" 
  #c1='ngModel' required>
    <option value="">Select city</option>
    <option value="hyd">Hyderabad</option>
    <option value="sec">Secbad</option>
  </select>
  <span style="color:Red" *ngIf="c1.invalid">*</span>
  {{d1}}
  <br>
  <input type="radio" name="gen" [(ngModel)]="ge" 
  #cnt1="ngModel" value="m" required>Male
  <input type="radio" name="gen" [(ngModel)]="ge"
   #cnt1="ngModel" value="f" required>Female
   --{{ge}}
  <span style="color:red" *ngIf="cnt1.invalid">Select Gender</span>
<br>
<input type="checkbox" [(ngModel)]="chk1" 
required name="tc" #cc="ngModel">
<span style="color:Red" *ngIf="cc.invalid">*</span>I Accept T&C
</form>