<style>
.bg-success{
    background:linear-gradient(blue, orange, blue)
}
</style>

<body class="bg-success">
<section class="p-3">
    <div class="container bg-primary">
        <div class="card bg-warning text-white text-center">
            <div class="card-header">
                <h1>products list</h1>
            </div>
        </div>
    </div>
</section>

<section class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <input type="text" class="form-control text-center" placeholder="Enter id">
            </div>
            <div class="col-md-1 ">
                    
                </div>
            <div class="col-md-4 ">
                <input type="text" class="form-control text-center" placeholder="Enter name">
            </div>
            
<!-------select-1 option-->
            <div class="col-md-4 mt-4">
                    <select class="form-control text-center">
                        <option class="text-center">select</option>
                            <option value="hyd">hyderabad</option>
                            <option value="hy">banglore</option>
                            <option value="hd">chennai</option>
                            <option value="yd">mumbai</option>
                        </select>
            </div>

            <div class="col-md-1 ">
                    
                </div>

            <div class="col-md-4 mt-4">
                    <select class="form-control text-center" >
                            <option class="text-center">select</option>
                            <option value="hyd">hyderabad</option>
                            <option value="hy">banglore</option>
                            <option value="hd">chennai</option>
                            <option value="yd">mumbai</option>
                        </select>
            </div>


            <!-------select--2 option-->
            <div class="col-md-4 mt-4">
                    <select class="form-control text-center" >
                            <option>select</option>
                            <option value="hyd">hyderabad</option>
                            <option value="hy">banglore</option>
                            <option value="hd">chennai</option>
                            <option value="yd">mumbai</option>
                        </select>
            </div>

            <div class="col-md-1 ">
                    
                </div>

            <div class="col-md-4 mt-4">
                    <select class="form-control text-center " >
                            
                            <option value="hyd">color</option>
                            <option value="hy">banglore</option>
                            <option value="hd">chennai</option>
                            <option value="yd">mumbai</option>
                        </select>
            </div>

             <!-------old price-->
             <div class="col-md-4 mt-4">
                 <input type="text" placeholder="old price" class="form-control ">
             </div>

             <div class="col-md-1 ">
                    
                </div>

                <div class="col-md-4 mt-4">
                        <input type="text" placeholder="New price" class="form-control ">
                    </div>
<!-------description-->

<div class="col-md-4 mt-4 ">
        <label><b>Description:</b></label>
        <textarea rows="4" cols="5" placeholder="send feedback" max="100" class="form-control text-center "></textarea>
    </div>

    <div class="col-md-1 ">
           
       </div>

       <div class="col-md-4 mt-4">
               <input type="text" placeholder="Rating"  class="form-control">
           </div>

      


    <!------offer------------>
    <div class="col-md-4 mt-4">
            <label><b>offer</b></label>
            <textarea rows="4" cols="5" max="122" class="form-control"></textarea>
    </div>
    <div class="col-md-1 ">
           
        </div>
        <div class="col-md-4 mt-4">
                <select class="form-control text-center" >
                        <option>product type</option>
                        <option value="hyd">hyderabad</option>
                        <option value="hy">banglore</option>
                        <option value="hd">chennai</option>
                        <option value="yd">mumbai</option>
                    </select>
        </div>

        <div class="col-md-4 mt-4">
                <button class="btn btn-primary">upload</button>
                <input type="text" placeholder="choose file">
                <button class="btn btn-success">browser</button>
        </div>

        <div class="col-md-1 ">
           
            </div>
            <div class="col-md-4 mt-4">
                <input type="number" placeholder="size" class="form-control">
                </div>
                <div class="col-md-4 mt-4">

                </div>
                <div class="col-md-4 mt-4">
                    <a href="products.component.html" class="btn btn-primary btn-block">Save products</a>
                </div>
                
</div>
</div>
</section>

<section class="p-3">
    <div class="container bg-primary">
        <div class="card bg-warning text-white text-center">
            <div class="card-footer">
                <h1>products list</h1>
            </div>
        </div>
    </div>
</section>
</body>