<mat-form-field>
  <input type="text" matInput placeholder="enter name">
</mat-form-field>
<br>

<mat-form-field >
  
  <input type="text" matInput appearence="outline" placeholder="enter name">
</mat-form-field>

<br>
<mat-form-field>
<mat-select placeholder="select">
  <mat-option>hyf</mat-option>
  <mat-option value="hyd">hyderabad</mat-option>
  <mat-option value="chen">chennai</mat-option>
  <mat-option value="bnglr">banglore</mat-option>
</mat-select>
</mat-form-field>
<br>

<form>
    <mat-checkbox>
        <mat-radio-button value="auto">auto</mat-radio-button>&nbsp;
        <mat-radio-button value="aut">auto</mat-radio-button>&nbsp;
        <mat-radio-button value="aut">auto</mat-radio-button>&nbsp;
        
    </mat-checkbox>
  </form>